<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [50]:
import pandas as pd

Load the dataset into a dataframe.

In [51]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [52]:
# your code goes here
print(len(df), df.shape[0]) # All rows
print(len(df[df.duplicated()])) # 154 here is a quick way to get all dupes
dupes = df.duplicated()
print(type(dupes))
print(dupes.value_counts()) # series value counts on boolean series indicating if row is a dupe*

11552 11552
154
<class 'pandas.core.series.Series'>
False    11398
True       154
dtype: int64

In [66]:
# How many duplicate values are there in the column Respondent? 
print(len(df[df['Respondent'].duplicated()]))

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [53]:
# your code goes here
df_no_dupes = df.drop_duplicates()
print("""We would expect our length to be the shape of the original data frame (rows) : {} subtracted 
against the length above for found duplicates (154) : {} """.format(df.shape[0], len(df) - len(df[df.duplicated()])))

print(len(df_no_dupes)) # Nice they match!

We would expect our length to be the shape of the original data frame (rows) : 11552 subtracted
against the length above for found duplicates (154) : 11398
11398

Verify if duplicates were actually dropped.

In [54]:
# your code goes here
print(len(df_no_dupes[df_no_dupes.duplicated()]))

0

## Finding Missing values

Find the missing values for all columns.

In [55]:
# your code goes here
print(df_no_dupes.isna().sum())

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [56]:
# your code goes here
print(df_no_dupes['WorkLoc'].isna().sum())

32

In [69]:
# After removing the duplicate rows, how many blank rows are there under the column EdLevel?
print(df_no_dupes['EdLevel'].value_counts()) # would assume there after null values - here non null
print('\n')
print(df_no_dupes['EdLevel'].isna().sum())

Bachelor’s degree (BA, BS, B.Eng., etc.)                                              5852
Master’s degree (MA, MS, M.Eng., MBA, etc.)                                           2706
Some college/university study without earning a degree                                1361
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     516
Associate degree                                                                       383
Other doctoral degree (Ph.D, Ed.D., etc.)                                              259
Professional degree (JD, MD, etc.)                                                     154
I never completed any formal education                                                  28
Primary/elementary school                                                               27
Name: EdLevel, dtype: int64


112

In [70]:
# After removing the duplicate rows, how many rows are missing under the column Country?
print(df_no_dupes['Country'].isna().sum())

0

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [57]:
# your code goes here
print(df_no_dupes['WorkLoc'].value_counts())
print(type(df_no_dupes['WorkLoc'].value_counts()))

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64
<class 'pandas.core.series.Series'>

Identify the value that is most frequent (majority) in the WorkLoc column.

In [58]:
#make a note of the majority value here, for future reference
top_workloc_value, top_workloc_id  = df_no_dupes['WorkLoc'].value_counts(ascending=False)[0], df_no_dupes['WorkLoc'].value_counts(ascending=False).index[0]
print(top_workloc_value, top_workloc_id)

6806 Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [59]:
# your code goes here
df_no_dupes['WorkLoc'].fillna(top_workloc_id, inplace=True)
print(df_no_dupes['WorkLoc'].isna().sum()) # zero
print(df_no_dupes['WorkLoc'].value_counts()) # 32 more for Office!

0
Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

/var/folders/r8/mmfd5rgj7v51_80zhnq8v9zc0000gn/T/ipykernel_19752/2121531442.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_dupes['WorkLoc'].fillna(top_workloc_id, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [60]:
# your code goes here
print(df_no_dupes['WorkLoc'].isna().sum())

0

In [71]:
#  What is the majority category under the column Employment?
print(df_no_dupes['Employment'].value_counts(ascending=False))

Employed full-time    10968
Employed part-time      430
Name: Employment, dtype: int64

In [72]:
# Under the column " UndergradMajor", which category has the minimum number of rows?
print(df_no_dupes['UndergradMajor'].value_counts(ascending=True))

A health science (ex. nursing, pharmacy, radiology)                        24
I never declared a major                                                  124
Fine arts or performing arts (ex. graphic design, music, studio art)      161
A humanities discipline (ex. literature, history, philosophy)             207
A social science (ex. anthropology, psychology, political science)        210
A business discipline (ex. accounting, finance, marketing)                244
Mathematics or statistics                                                 372
A natural science (ex. biology, chemistry, physics)                       403
Web development or web design                                             410
Another engineering discipline (ex. civil, electrical, mechanical)        759
Information systems, information technology, or system administration     794
Computer science, computer engineering, or software engineering          6953
Name: UndergradMajor, dtype: int64

In [73]:
# The column ‘ConvertedComp’ contains the annual compensation of the survey respondents. What is the best approach to impute the missing values in this column? 
display(df_no_dupes['ConvertedComp'].describe())

count    1.058200e+04
mean     1.315967e+05
std      2.947865e+05
min      0.000000e+00
25%      2.686800e+04
50%      5.774500e+04
75%      1.000000e+05
max      2.000000e+06
Name: ConvertedComp, dtype: float64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [61]:
# your code goes here
print(df_no_dupes['CompFreq'].value_counts())

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [62]:
# your code goes here
print(df_no_dupes['CompTotal'].dtypes) # no type transformation needed
print(df_no_dupes[['CompTotal', 'CompFreq']].isna().sum())

float64
CompTotal    809
CompFreq     206
dtype: int64

In [63]:
# for tupe in df_no_dupes.iloc[2:4, :].itertuples():
#     print(tupe[1:5])
    
# for row in df_no_dupes.[2:4, ['']].iterrows():
#     print(row['CompTotal'])

In [64]:
annual_comp = []
# for tupe in df_no_dupes[['CompFreq', 'CompTotal']].iloc[:2, :].itertuples():
#     print(tupe) # Pandas(Index=0, CompFreq='Yearly', CompTotal=61000.0)
    
for tupe in df_no_dupes[['CompFreq', 'CompTotal']].itertuples():
    # print(tupe) # Pandas(Index=0, CompFreq='Yearly', CompTotal=61000.0)
    # print(tupe[1], tupe[2])
    if pd.isnull(tupe[1]) or pd.isnull(tupe[2]): # if either the compfreq or comptotal is null, add zero to annual_comp
        annual_comp.append(0.0)
    elif tupe[1] == 'Yearly':
        annual_comp.append(tupe[2]) # itertuples returns index in first[0] position, total is in the third index of the tupe iterator variable
    elif tupe[1] == 'Monthly':
        annual_comp.append(tupe[2] * 12)
    elif tupe[1] == 'Weekly':
        annual_comp.append(tupe[2] * 52)
        
print(len(annual_comp))

11398

In [65]:
df_no_dupes['NormalizedAnnualCompensation'] = annual_comp
print(df_no_dupes[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].iloc[:50, :])

/var/folders/r8/mmfd5rgj7v51_80zhnq8v9zc0000gn/T/ipykernel_19752/100292337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_dupes['NormalizedAnnualCompensation'] = annual_comp

   CompFreq  CompTotal  NormalizedAnnualCompensation
0    Yearly    61000.0                       61000.0
1    Yearly   138000.0                      138000.0
2    Yearly    90000.0                       90000.0
3   Monthly    29000.0                      348000.0
4    Yearly    90000.0                       90000.0
5   Monthly     9500.0                      114000.0
6   Monthly     3000.0                       36000.0
7    Yearly   103000.0                      103000.0
8    Yearly    69000.0                       69000.0
9   Monthly     8000.0                       96000.0
10  Monthly     7000.0                       84000.0
11   Yearly   114000.0                      114000.0
12   Weekly     2000.0                      104000.0
13   Weekly    22000.0                     1144000.0
14  Monthly    96000.0                     1152000.0
15   Yearly   156000.0                      156000.0
16   Yearly    18000.0                       18000.0
17  Monthly     6400.0                       76800.0
18  Monthly     5000.0                       60000.0
19   Yearly   400000.0                      400000.0
20   Yearly    47300.0                       47300.0
21  Monthly    51500.0                      618000.0
22   Yearly   345000.0                      345000.0
23   Yearly    85000.0                       85000.0
24   Yearly   107000.0                      107000.0
25   Yearly    66000.0                       66000.0
26   Yearly    76800.0                       76800.0
27   Yearly    50000.0                       50000.0
28   Yearly   800000.0                      800000.0
29   Yearly    75000.0                       75000.0
30  Monthly    18000.0                      216000.0
31   Yearly   100000.0                      100000.0
32   Yearly  1250000.0                     1250000.0
33   Yearly    30000.0                       30000.0
34   Yearly   550000.0                      550000.0
35   Yearly        NaN                           0.0
36  Monthly   700000.0                     8400000.0
37  Monthly    40000.0                      480000.0
38  Monthly     9000.0                      108000.0
39  Monthly    11000.0                      132000.0
40  Monthly   100000.0                     1200000.0
41   Yearly    50000.0                       50000.0
42   Yearly    33000.0                       33000.0
43   Yearly   110000.0                      110000.0
44   Yearly    66750.0                       66750.0
45   Yearly   300000.0                      300000.0
46   Weekly    67800.0                     3525600.0
47   Yearly   155000.0                      155000.0
48  Monthly    25000.0                      300000.0
49   Yearly   100000.0                      100000.0

In [74]:
# How many unique values are there in the CompFreq column?     

print(df_no_dupes['CompFreq'].nunique())

3

In [75]:
# After removing the duplicate rows, how many respondents are being paid yearly?
print(df_no_dupes['CompFreq'].value_counts())

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

In [78]:
# What is the median NormalizedAnnualCompensation?    

print(df_no_dupes['NormalizedAnnualCompensation'].describe())
print(df_no_dupes['NormalizedAnnualCompensation'].quantile(q=0.5))

count    1.139800e+04
mean     5.697287e+06
std      9.483867e+07
min      0.000000e+00
25%      4.350000e+04
50%      9.000000e+04
75%      3.000000e+05
max      8.400000e+09
Name: NormalizedAnnualCompensation, dtype: float64
90000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).